:root {
  -color-red: #ec1c24;
  -color-blue: #335995;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.game {
  background-image: url(../img/bggg.jpg);
  background-size: contain;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.game::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 70%);
  inset: 0;
  z-index: -1;
}
.game .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-shape {
  background-color: #fadaa3;
  background-image: url(../img/border.jpg);
  width: 520px;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
.wrapper-shape::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}
.shape-game {
  background-image: url(../img/background.jpg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  border-radius: 20px;
  padding: 40px;
}
.shape-game > .box {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  /* position: relative; */
}
.box-border {
  position: relative;
}
.box-border::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 50%;
}
.shape-game > .last-row {
  border-bottom: none;
}
.shape-game > .last-column {
  border-right: none;
}
.shape-game > .box > .content-box {
  font-weight: 700;
  font-size: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pin {
  position: absolute;
  top: 25px;
}
.pin-left {
  left: 30px;
}
.pin-right {
  right: 30px;
}
.img-pin {
  position: relative;
}
.pin img {
  width: 60px;
}
.player {
  margin: 0 30px;
  position: relative;
  z-index: 5;
  height: 300px;
  transition: all 0.8s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player > .name-player {
  /* height: 300px; */
  background-color: rgb(255 255 255);
  margin-bottom: 20px;
  width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-bottom: 1px solid rgb(0 0 0 / 16%);
  border-radius: 15px;
  font-family: "Shadows Into Light", cursive;
}
.player > .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  /* height: 300px */
  position: relative;
  background-color: rgb(255, 255, 255, 70%);
  border-radius: 15px;
}
.start-game {
  position: fixed;
  background-image: url(../img/bggg.jpg);
  background-color: #ffffff;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 555;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: rgba(255, 255, 255, 0.18) 0px 2px 4px;
}
.start-game::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 70%);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}
.start-game > .container {
  background-color: #fff;
  padding: 100px 60px 0;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  position: relative;
}
.vs {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vs > img {
  width: 80px;
  padding: 5px;
}
.choose-player {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 80%; */
  position: relative;
}
.choose-player > .player-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}
.input-name {
  border: none;
  padding: 15px 17px;
  border-top: 1px solid #80808052;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}
::-ms-input-placeholder {
  text-align: center;
}

::placeholder {
  text-align: center;
}
.warining {
  border: 1px solid #f00;
}
.card-warining {
  position: absolute;
  background-color: #000;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 20px;
  left: 50%;
  bottom: 141px;
  transform: translateX(-50%);
  text-align: center;
  width: 225px;
}
.continue-game {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.continue-game > button {
  background: rgb(51, 89, 149);
  background: linear-gradient(
    90deg,
    rgba(51, 89, 149, 1) 0%,
    rgba(236, 28, 36, 1) 100%
  );
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.winner,
.game-over {
  background-color: rgb(0 0 0 / 73%);
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5555;
  width: 100%;
  height: 100%;
}
.winner .content-winner,
.game-over .content-game-over {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 15px 35px 0px rgb(0 0 0 / 10%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 2px dashed #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.winner .content-winner .content-name,
.game-over .content-game-over .content-name {
  margin-bottom: 25px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}
.winner .content-winner .content-name > span,
.game-over .content-game-over .content-name > span {
  font-size: 60px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  text-transform: capitalize;
  padding-right: 10px;
}
.winner .content-winner > .img,
.game-over .content-game-over > .img {
  margin-bottom: 25px;
  background-color: #fff;
}
.winner .content-winner > .img > img,
.game-over .content-game-over > .img > img {
  width: 120px;
}
.winner .buttons,
.game-over .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-top: 60px;
}
.winner .buttons > button,
.game-over .buttons > button {
  border: none;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}
.winner .buttons button:first-child {
  background-color: #12b0df;
}
.winner .buttons button:last-child,
.game-over .buttons button:last-child {
  background-color: #34495e;
}
.game-over .buttons button:first-child {
  background-color: #eb1b30;
}
.active {
  display: flex;
}
.hide {
  display: none;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .player > .img {
    width: 200px;
  }
  .player > .name-player {
    width: 200px;
  }
}
@media screen and (max-width: 991.5px) {
  .start-game > .container {
    padding: 20px 150px;
  }
  .choose-player {
    flex-direction: column;
    height: 90%;
    padding: 10px 0;
  }
  .vs {
    width: 100px;
    height: 100px;
  }
  .vs img {
    width: 60px;
  }
  .player {
    width: 100%;
  }
}
@media screen and (max-width: 767.5px) {
  .wrapper-shape {
    order: 3;
  }
  .game .container {
    flex-direction: column;
    gap: 10px;
  }
  .player {
    flex-direction: row;
    width: 100%;
    height: 150px;
  }
  .player > .name-player {
    background-color: rgb(255 255 255);
    margin-bottom: 0;
  }
  .wrapper-shape {
    max-width: 100%;
    width: 380px;
    height: 380px;
  }
  .shape-game {
    width: 360px;
    height: 360px;
  }
  .pin {
    top: 0;
  }
  .pin-left {
    left: 0;
  }
  .pin-right {
    right: 0;
  }
  .player > .img > img {
    width: 80px;
  }
  .player > .img {
    background-color: unset;
  }
  .shape-game > .box > .content-box {
    font-size: 60px;
  }
}
